/* CSS stylesheet  for application */
body {
    overflow-y: scroll;
}
.admintable {
    width:90% !important;
    text-align:center;
    margin:auto;
    border-collapse:collapse;
    border:1px solid silver;
}
.mypagetable{
    width:70% !important;
    text-align:center;
    margin-left: 240px;
    border-collapse:collapse;
    border:1px solid silver;
}
.ispaidtrue{
    background-color: darkseagreen;
}
.ispaidfalse{
    background-color: indianred;
}
.ordercompleted{
    background-color: darkseagreen;
}
.orderprocessing{
    background-color: khaki;
}
.ordercancelled{
    background-color: indianred;
}

th, td {
    border:1px solid silver;
    margin: auto;
    padding: 5px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.navbar-custom{
    width: 100%;
    height:60px;
    padding:0;
}
.container{
    overflow-y: auto;
}
.navbar-brand{
    padding:0;
}
.navbar-custom a{
    color:black !important;
    font-size:13px;
    font-family:Arial, sans-serif;
}
.navbar-custom .nav-item{
    box-sizing: border-box;
    padding-bottom:15px;
    padding-top:18px;
}
.navbar-custom .nav-item:hover{
    border-bottom:2px solid black;
    padding-bottom:15px;
    padding-top:18px;
    transform:translateY(1px);
}
.bluebar{
    height:30px;
    width:100%;
    background-color:#003d76;
}
h1{
    text-align:center;
}
.error
{
    color:red;
    text-align: center;
}
.col
{
    text-align: center;
    justify-content: center;
}
.colleft
{
    text-align: left;
    display: inline-block;
}
.btn{
    background-color: #003d76;
    border:none;
    color:white;
    padding:5px 13px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:16px;
}
.adminbtn{
    margin:auto;
    text-align:center;
    width: 150px;
    padding-bottom:20px;
}
.balance{
    text-align:center;
    width:80px;
}

.inputbox{
    margin:3px;
    text-align:center;
}
.inputbox2{
    text-align:center;
    margin-left:25%;
    margin-bottom:10px;
}
.center{
    text-align:center;
}
.infotext{
    margin:auto;
    padding-bottom:5px;
    text-align: center;
}
p{
    margin-bottom:0;
    padding-left:5px;
}
.userinfo{
    float:left !important;
    border-collapse:collapse;
    border: 1px solid silver;
    padding-left:5px;
    width:200px;
}
.userinfotext {
    padding-bottom:10px;
    padding-left:10px;
}
.submitform{
    margin:auto;
    padding:5px;
    width:420px;
    height:155px;
}
.btn:hover{
    background-color:#0d324e;
    color:white;
}
.image img{
    border-radius:20px;
    width:500px; height:337px;
    padding:10px;
    object-fit:cover;
}
.lb{
    margin-left:5px;
    width:80px;
}
.footer{
    font-size: 12px;
    max-width: 1520px;
}
.bold{
    font-weight: bold;
}
.size{
    font-size: 16px;
}
.login{
    width: 100%;
}
.loginwidth{
    width: 30%;
}