/* CSS stylesheet  for application */

table {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}
.navbar-custom{
    height: 60px;
    padding: 0px;
}
.navbar-brand{
    padding: 0px;
}
.navbar-custom a{
    color: black !important;
    font-size: 13px;
    font-family: Arial, sans-serif;
}
.navbar-custom .nav-item{
    padding-bottom: 15px;
    padding-top: 18px;
}
.navbar-custom .nav-item:hover{
    border-bottom: 2px solid black;
    padding-bottom: 15px;
    padding-top: 18px;
    transform: translateY(1px);
}
.bluebar{
    height: 30px;
    width: 100%;
    background-color: #003d76;
}
h1{
    text-align: center;
}
.error
{
    color: red;
}
.col
{
    text-align: center;
}
.btn{
    background-color: #003d76;
    border: none;
    color: white;
    padding: 5px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.inputbox{
    margin:3px;
}
.inputbox2{
    margin-left: 110px;
    margin-bottom: 10px;
}

.btn:hover{
    background-color: #0d324e;
    color: white;
}
.image img{
    width: 500px; height: 337px;
    object-fit: cover;
}


